*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.logo{
    width: 140px;
    cursor: pointer;
}

.nav_links li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

.nav_links li a{
    text-decoration: none;
    color: #fff;
}

.register_btn{
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    text-decoration: none;
}

nav .fa-bars{
    display: none;
}

.container{
    padding: 0 7%;
}

.header h1{
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 15%;
}

.search_bar{
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}

.search_bar form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search_bar form input{
    background: transparent;
    display: block;
    outline: none;
    border: 0;
    margin-top: 4px;
}

.search_bar form button{
    background: #ffbd58;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}

.search_bar form button img{
    width: 15px;
    margin-top: 5px;
}

.location_input{
    flex: 1;
}

.search_bar form label{
    font-weight: 600;
}

/* ----------- exclusives ----------- */

.sub_title{
    margin: 50px 0 20px;
    font-size: 25px;
    font-weight: 600;
    color: #333;
}

.exclusives{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}

.exclusives div img{
    width: 100%;
    border-radius: 10px;
}

.exclusives div{
    position: relative;
}

.exclusives div span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

/* ----------- Trending Places ----------- */

.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.trending div img{
    width: 100%;
    border-radius: 10px;
}

.trending h3{
    font-weight: 600;
    margin-top: 10px;
}

/* ----------- Call to Action ----------- */
.cta{
    margin: 80px 0;
    background-image: linear-gradient(to right, #3f2321, transparent), url(images/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}

.cta h3{
    font-size: 50px;
    line-height: 65px;
    font-weight: 500;
}

.cta p{
    font-size: 13px;
    margin: 10px 0;
    line-height: 20px;
}

.cta_btn{
    background: #ffbd58;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 15px;
    display: inline-block;
}

/* ------------------ Trvellers Stories ------------------ */
.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.stories div img{
    width: 100%;
    border-radius: 10px;
}

.stories div{
    position: relative;
    text-align: center;
}

.stories p{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    background: #00000061;
    padding: 19px 15px;
}

.start_btn{
    text-decoration: none;
    background: #ffbd58;
    color: #fff;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 16px;
}

/* ------------------ About Traverse ------------------ */
.about_msg{
    margin: 80px 0;
    color: #333;
    font-size: 17px;
    text-align: center;
}

.about_msg h2{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
}

.about_msg p{
    line-height: 23px;
    letter-spacing: 1px;
}

/* ------------------ Footer ------------------ */
.footer{
    margin: 80px 0 10px;
    text-align: center;
}

.footer a{
    text-decoration: none;
    font-size: 22px;
    margin: 0 10px;
    color: #999;
}

.footer hr{
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}

.footer p{
    padding: 15px;
}

.active{
    position: relative;
}

.active::after{
    content: '';
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}


/* ------------------ Mobile Devices ------------------ */

@media only screen and (max-width: 767px){
    .logo{
        position: fixed;
        top: 1%;
        left: 7%;
        height: 66px;
        width: 112px;
    }
    nav{
        position: fixed;
        top: 0;
        display: inline-block;
        width: 100%;
        padding: 70px 7% 0;
        z-index: 100;
        background: #000;
        text-align: right;
        max-height: 70px;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav .nav_links li{
        margin: 10px 0;
        display: block;
    }
    .register_btn{
        margin: 15px 0 30px;
        display: inline-block;
    }
    nav .fa-bars{
        display: block;
        position: fixed;
        top: 3%;
        right: 7%;
        font-size: 22px;
        color: #e4e4e4;
    }

    nav.navbar_white .fa-bars{
        top: 4%;
    }

    .active::after{
        left: -40px;
        transform: translate(0, 50%);
        bottom: 50%;
    }

    .hidemenu{
        max-height: 300px;
    }

    .header h1{
        font-size: 7vw;
        padding-top: 200px;
    }

    .search_bar{
        width: 90%;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }

    .search_bar form{
        display: block;
    }

    .search_bar form input{
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
    .search_bar form button{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .cta{
        padding: 15% 5%;
    }

    .cta h3 {
        font-size: 35px;
        line-height: 45px;
    }

    .cta p{
        font-size: 14px;
    }

    .cta_btn {
        padding: 6px 15px;
        border-radius: 4px;
        margin-top: 10px;
        font-size: 14px;
    }

    .stories p{
        font-size: 22px;
    }

    .about_msg p {
        font-size: 15px;
    }
}


/* ------------------ Listing Page ------------------ */

.navbar_white{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.navbar_white .nav_links{
    margin-top: 11px;
}

.navbar_white .nav_links li a{
    color: #000;
}

.navbar_white .register_btn{
    margin-top: 11px;
    color: #fff;
    background-color: #ffbd58;
}

nav.navbar_white .fa-bars{
    color: #ffbd58;
}

.navbar_white .active::after{
    background: #ffbd58;
}

.list_container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left_col{
    flex-basis: 70%;
}

.left_col h1{
    color: #333;
    margin-bottom: 30px;
    font-weight: 600;
}

.left_col .house{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}

.house_img{
    flex-basis: 40%;
}

.house_img img{
    width: 100%;
    border-radius: 12px;
}

.house_info{
    flex-basis: 58%;
    color: #555;
    line-height: 28px;
}

.house_info h3{
    color: #333;
    margin: 4px 0;
    font-weight: 600;
    font-size: 22px;
}

.house_info i{
    color: #ffbd58;
    font-size: 18px;
    margin: 10px 1px;
}

.house_price{
    text-align: right;
}

.house_price h4{
    font-size: 20px;
}

.house_price h4 span{
    font-size: 16px;
    font-weight: 500;
}

.right_col{
    flex-basis: 25%;
}

.sidebar{
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;
}

.sidebar h2{
    font-weight: 500;
}

.sidebar h3{
    font-weight: 500;
    margin: 20px 0 10px;
}

.filter{
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}

.filter p{
    flex: 1;
}

.filter input{
    margin-right: 15px;
    cursor: pointer;
}

.sidebar_link{
    margin: 20px 0;
    text-align: right;
}

.sidebar_link a{
    font-weight: 600;
    text-decoration: none;
    color: #ffbd58;
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

.pagination img{
    width: 15px;
    margin: 10px 20px;
}

.right_arrow{
    transform: rotate(180deg);
}

.pagination span{
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.pagination .current{
    background: #333;
    color: #fff;
}

/* ------------------ Mobile Devices ------------------ */

@media only screen and (max-width: 767px){
    .list_container{
        margin-top: 100px;
    }

    .left_col, .right_col, .house_img, .house_info{
        flex-basis: 100%;
    }

    .left_col h1{
        font-size: 22px;
    }

    .house_info h3{
        font-size: 18px;
    }

    .house_info i{
        font-size: 16px;
    }

    .house_info{
        line-height: 23px;
        margin-top: 8px;
    }

    .pagination span{
        margin: 10px 2px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
}


/* ------------------ House Details Page ------------------ */
.house_details{
    padding: 0 12%;
}

.house_title{
    margin-top: 50px;
}

.house_title h1{
    font-weight: 600;
}

.house_title .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}

.house_title span{
    margin: 0 20px;
}

.house_title i{
    color: #ffbd58;
    font-size: 14px;
}

.gallery{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "first first . ." "first first . .";
    margin: 20px 0;
}

.gallery div img{
    width: 100%;
    display: block;
    border-radius: 10px;
}

.gallery_img_1{
    grid-area: first;
}

.some_details h2{
    font-weight: 500;
}

.some_details h4{
    text-align: right;
    font-size: 22px;
}

.line{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px;
}

.check_form{
    margin: 30px 0;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 15px;
    align-items: center;
}

.check_form label{
    display: block;
}

.check_form div{
    padding: 20px;
}

.check_form input{
    background: transparent;
    border: 0;
    outline: none;
}

.guest_field{
    flex: 1px;
}

.check_form button{
    background: #ffbd58;
    outline: none;
    border: 0;
    padding: 18px;
    width: 280px;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
}

.details_list{
    list-style: none;
    margin: 50px 0;
}

.details_list li{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}

.details_list li span{
    display: block;
    font-size: 16px;
    font-weight: 400;
}

.details_list li i{
    position: absolute;
    top: 5px;
    left: -40px;
}

.house_desc{
    max-width: 700px;
    margin-bottom: 50px;
}

.map{
    margin: 50px 0;
}

.map h3{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}

.map iframe{
    width: 100%;
    margin-bottom: 30px;
}

.map b{
    display: block;
    margin-bottom: 16px;
}

.host{
    display: flex;
    align-items: center;
}

.host img{
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}

.host h2{
    margin-bottom: 10px;
    font-weight: 500;
}

.host i{
    color: #ffbd58;
}

.contact_host{
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    padding: 15px 50px;
    color: #555;
    border: 1px solid #ffbd58;
    border-radius: 8px;
}